<h3>
当日数据上传记录: 
</h3>
<br/>
  <table class="table table-bordered">
    <tr>
      <th>上传时间</th>
      <th>设备</th>
      <th>下载次数</th>
    </tr>
    <% @records.reverse_order.each do |record| %>
      <tr>
        <td><%= record.created_at.to_formatted_s(:time) %></td>
        <%# <td><%= record.created_at.strftime("%T") %1></td> %>
        <td><%= record.mac.name %></td>
        <td><%= record.downloads %></td>
      </tr>
    <% end %>
  </table>
