<h3>
本周下载: <%= @records.week_downloads %>
</h3>
<br/>
  <table class="table table-bordered">
    <tr>
      <th>日期</th>
      <th>下载次数</th>
    </tr>
    <% i = 1 %>
    <% while i <=7 %>
      <tr>
        <td><%= @records.time_range_to_admin(i) %></td>
        <td><%= @records.day_downloads(i) %></td>
      </tr>
      <% i=i+1 %>
    <% end %>
  </table>
